.blog {
  background-color: linear-gradient(#d2ab67) rgba( 210, 171, 103, 0)
}

.blog-card {
  width: 567px;
  height: 483px;
  opacity: 50%;
  background-color: #c4c4c4;
  border-color: #013878;
  border-width: 3px;
  border-style: solid;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.blog-btn {
  background-color: #013878;
  border-radius: 30px;
  border-width: 1px;
  border-color: #d2ab67;
  color: #d2ab67;
  width: 174px;
  height: auto;
  border-style: solid;
  text-align: center;
}
