.faq {
  background-image: url(https://unsplash.com/photos/7e2pe9wjL9M);
  background-position: top;
  color: #d2ab67;
}

.faq-card {
  border-color: #D2AB67;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 5 5 4 0;
  background-color: #ffff;
  color: #d2ab67;
  font-family: lato;
  font-size: 24px;
  text-align: center;
  line-height: 100%;
  vertical-align: top;
  font-style: bold;
}

h1 {
  color: #013878;
  font-family: lato;
  font-weight: bold;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
}
