<html>

<head>

    <title>Navbar</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



  <!--Navbar-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Navbar-->

  <!-- Font styles -->
  <style type="text/css">
      @import "http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
    @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
      @import "https://daneden.github.io/animate.css/animate.min.css";
  </style>

</head>
<body style="background: linear-gradient(0deg, rgba(210,171,103,0) 0%, rgba(210,171,103,1) 100%);">

  <!--Navigation bar-->

  <nav class="navbar navbar-inverse" role="navigation">

  <div class="navbar-inner">

    <!--Container class div-->
    <div class="container-fluid">

      <div class="navbar-header">

        <a class="navbar-brand" href="www.parlatorelawgroup.com">
          <img src="logo.jpg" alt="">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="nav navbar-nav navbar-left">

          <li><a href="#"> </a></li> <!-- TO leave some space after logo-->
          <li><i class="fab fa-earlybirds"></i> </li>
          <li class="active"><a href="Chatroom#">Messages </a></li>

          <li class = "dropdown">
            <a href = "#" class="dropdown-toggle" data-toggle = "dropdown"> User <span class = "caret"></span><i class="fas fa-video"></i></a>
            <ul class = "dropdown-menu">
              <li><a href="#">Profile Picture</a><i class="fas fa-video"></i></li>
              <li class="nav-divider"></li><li><a href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul>


        <!-- Right hand side navbar -->
        <ul class ="nav navbar-nav navbar-left">
          <li><a href="checklist#view">Checklist</a></li>
          <li></li>
          <li><a href="forms#view">Forms</a></li>
          <li><a href="vidoes#view">Training Videos</a></li>
          <li><a href="information#view">Helpful Information</a></li>
          <li><i class="fas fa-hands-helping"></i></li>
          <li><a href="questions#view">FAQs</a></li>
          <li><a href="ticket#view">Helpdesk Ticket</a></li>
        </ul>
      </div>
    </div>
  </div>
  </nav>
  <!--Navbar End-->


</body>

</html>

