# Checklist#show
# Find me in app/views/checklist/show.html.erb

<%= render 'shared/navbar_onboard' %>
<%= render 'shared/header' %>

<div class="card-container">
  <div class="checklist">

  </div>
</div>
