# Checklist#show
# Find me in app/views/checklist/show.html.erb

<%= render 'shared/navbar_onboard' %>
<%= render 'shared/header' %>

<div class="card-container">
  <div class="checklist">
    <h1 class="card-title">Set up Accounts</h1>
    <ul>
      <li>Install Office 365</li>
      <input type="checkbox">
      <li>RingCentral</li>
      <input type="checkbox">
      <li>Adobe Pro DC</li>
      <input type="checkbox">
      <li>Law 360</li>
      <input type="checkbox">
      <li> VPN </li>
      <input type="checkbox">
      <li> Dropbox </li>
      <input type="checkbox">
      <li>LexisNexis/CaseText (if applicable)</li>
      <input type="checkbox">
      <li>Markify (if applicaple)</li>
      <input type="checkbox">
    </ul>
    <br>
    <h1>Forms to fill out</h1>
    <ul>
      <li>Profile Information Form</li>
      <input type="checkbox">
      <li>Malpractice Insurance Form</li>
      <input type="checkbox">
      <li>Business Card Form</li>
      <input type="checkbox">
      <li>Tax form W-9</li>
      <input type="checkbox">
      <li>NDA Form</li>
      <input type="checkbox">
      <li>ACH Form</li>
      <input type="checkbox">
      <li>Benefits</li>
      <input type="checkbox">
    </ul>
  </div>
</div>
