<div class="mt-5 pb-5 lawyer-background">
  <div class="dashboard p-3">
    <%= render 'shared/header' %>
    <%= render 'shared/navbar' %>
    <h1> <%= current_user %> Benefits </h1>
  </div>
  <div class="health-benefits-card">
    <h2>Health</h2>
    <i class="fas fa-hand-holding-medical"></i>
  </div>
</div>
