<%= render 'shared/header' %>
<%= render 'shared/navbar' %>

<div class="blog">
  <div class="card" style="width: 18rem;">
    <img src="blog.jpg" class="card-img-left" alt="person typing">
      <div class="card-body">
        <h5 class="card-title">Blog Form</h5>
        <p class="card-text"></p>
      </div>
    <form>
      <label>Subject Matter: </label>
      <input type="text"></input>
      <label>Keywords:</label>
      <input type="text"></input>
      <label>Target Audience:</label>
      <input type="text"></input>
      <label> Target Location(s):</label>
      <input type="text"></input>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
