<%= render 'shared/header' %>
<%= render 'shared/navbar' %>

<div class="blog">
  <h1><strong>Blog Form</strong> </h1>
  <div class="blog-card">
    <form>
      <ul>
        <input><li>Subject Matter: </li></input>
        <li>Keywords:</li>
        <li>Target Audience:</li>
        <li> Target Location(s):</li>
      </ul>
    </form>
  </div>
</div>
