<%= render 'shared/header' %>
<%= render 'shared/navbar' %>

<div class="blog">
  <h1><strong>Blog Form</strong> </h1>
  <div class="blog-card">
    <form>
        <label>Subject Matter: </label>
        <input type="text"></input>
        <label>Keywords:</label>
        <input type="text"></input>
        <label>Target Audience:</label>
        <input type="text"></input>
        <label> Target Location(s):</label>
        <input type="text"></input>
        <input type="submit" value="Submit">
    </form>
  </div>
</div>
