<div class="mt-5 pb-5 lawyer-background">
  <%= render 'shared/header' %>
  <h1> Shared Documents</h1>
  <%= render 'shared/search' %>
  <i class="fas fa-folder-open"></i>
  <a href="https://www.dropbox.com/sh/o55eyx9fopqh959/AACXcyrYDz-kU8_AUtFCOiVla?dl=0">Partner Folder</a>
  <a href="https://www.dropbox.com/s/lhm11shxux47dx6/Partnership%20%20Agreement.pdf?dl=0">Partner Agreement</a>
  <a href="https://www.dropbox.com/scl/fi/368wipl7ciy8kptxhonvl/Opening-a-New-Matter_April_2021.docx?dl=0&rlkey=5noqu3hendws2reiouzzn7iuq">Opening a New Matter</a>
  <a href="https://www.dropbox.com/scl/fi/95lxdt9yyb1c7umtn13xk/Running-invoices.docx?dl=0&rlkey=9ko7o97suxug9o2jzs3qtxibq">Filing Invoices</a>
  <%= link_to "Social Media Training", asset_path("pdf_file.pdf") %>
  <%= link_to "Add Email to new account", asset_path("pdf_file.pdf") %>
</div>
