<div class="mt-5 pb-5">
  <%= render 'shared/navbar_onboard' %>
  <%= render 'shared/header' %>
</div>
<div class="faq">
  <h1>Frequently Asked Questions</h1>
  <div class="faq-card">
    <h4>Who does what/Where should I direct questions?</h4>
    <p>Admin: Kalia & Jennifer</p>
    <p>Accounting: Lauren</p>
    <p>Marketing: Laurel</p>
    <p>Social Media: Kristyna</p>
  </div>
  <div class="faq-card">
    <h4>Can I keep my current business number?</h4>
    <p> Yes, if it is a landline. </p>
  </div>
  <div class="faq-card">
    <h4>Is there a list of partner practice areas?</h4>
    <p>Yes, on the shared folder in Dropbox titled "All Practice Area" (This spreadsheet is editable, and must be opened in excel, not dropbox) by attorneys.</p>
  </div>
  <div class="faq-card">
    <h4>Where can I find training?</h4>
    <p>In the shared folder in Dropbox or on this website.</p>
  </div>
  <div class="faq-card">
    <h4>Who pays for the virtual office?</h4>
    <p>PLG</p>
  </div>
  <div class="faq-card">
    <h4>What firm accounts does PLG have? Are trials available?</h4>
    <p>Yes, Markify, Lawline, LexisNexis, ElderCounsel, WealthCounsel, and CaseText.</p>
    <p>Trials are available.</p>
    <p>Markify is roughly $50/monthly, Lawline is $299/2 years, LexisNexis is $135/monthly, ElderCounsel is $60, and CaseText is $546/annually.</p>
    <p>If you already have a Lawline account, they will refund you the entire purchase price and then charge a prorated amount for our discounted subscription.</p>
  </div>
  <div class="faq-card">
    <h4>How do I add my email signature?</h4>
    <p></p>
  </div>
  <div class="faq-card">
    <h4></h4>
    <p></p>
  </div>
  <div class="faq-card">
    <h4></h4>
    <p></p>
  </div>

</div>

