#Onboarding page for lawyers and support staff.

<div class="mt-5 pb-5">
  <%= render 'shared/navbar_onboard' %>
  <%= render 'shared/header' %>
</div>
<div class="info">
  <div class="info-card">
    <h4>Embedding Your Bookings Link into your Email Signature</h4>
    <p>1. Go to <a href="bookings.office.com">bookings.office.com</a>. If you already signed in, it should open to the home page of your previously created booking calendar.</p>
    <p>2. Then go the the 'Bookings Page' tab on the left side of the screen.</p>
  </div>
  <div class="info-card">
    <h4>Opening a New Matter</h4>
    <p>The following is the step-by-step manuel of the PLG procesures to open a new matter.</p>
    <p>1. During intake, obtain the identidies of all potentially adverse parties to run a conflict check. Before formally entering the matter into Clio, you have the option of running an informal conflict check by tying the names into Clio search bar to see if they appear anywhere in our system.</p>
    <p>2. If this is a new client, create a contact for then in Clio. This is important, even if the client ultimately decides not to retain the firm, so that we can identify and evaluate any future conflicts that may arise from the intake. At a minimum, ensure that the name, phone number, and email address fields are filled in for the client. Also, be sure to enter the client as either a person or a company, as appropriate. If we will be representing multiple clients (i.e multiple related corporate entities, partners, etc.), just enter the main client first, who will be receiving the invoices. Additional co-clients will be added later.</p>
  </div>
  <div class="info-card">
    <h4>Setting up accounts</h4>
    <a href="">Office 365</a>
    <a href="">Adobe DC PRO</a>
    <a href="">Law 360</a>
  </div>
  <div class="info-card">
    <h4>Healthcare Options</h4>
    <a href="">Click here for your options.</a>
    <p>If you have any questions or would like to enroll, contact Lauren Lee as soon as possible. You have less than a month after your start statae to enroll without the premiums </p>
  </div>
  <div class="info-card">
    <img src="https://unsplash.com/photos/82TpEld0_e4" alt="idea">
  </div>
</div>
