<div class="mt-5 pb-5 lawyer-background">
  <%= render 'shared/navbar' %>
  <%= render 'shared/header' %>
  <h1> Resources</h1>
  <div class= "resource-card">
    <a href="www.gusto.com">
      <i class="fas fa-piggy-bank"></i>
      <h4>Gusto</h4>
    </a>
  </div>
  <div class= "resource-card">
    <a href="www.dropbox.com">
      <i class="fab fa-dropbox"></i>
      <h4>Dropbox</h4>
    </a>
  </div>
  <div class= "resource-card">
    <a href="https://nordvpn.com/">
      <i class="fas fa-laptop"></i>
      <h4>VPN</h4>
    </a>
  </div>
  <div class= "resource-card">
    <a href="https://www.dropbox.com/sh/02ftt63kjvzy6ji/AAComrT33fswiyMEE519UDFua?dl=0">
      <i class="fas fa-calendar-alt"></i>
      <h4>Social Media Calendar</h4>
    </a>
  </div>
  <div class= "resource-card">
    <a href="https://www.ringcentral.com/">
      <i class="fas fa-phone"></i>
      <h4>RingCentral</h4>
    </a>
  </div>
  <div class= "resource-card">
    <a href="https://www.adobe.com/">
      <i class="fab fa-buysellads"></i>
      <h4>Adobe</h4>
    </a>
  </div>
  <div class= "resource-card">
    <a href="https://www.office.com/">
      <i class="fas fa-file-word"></i>
      <h4>Office 365</h4>
    </a>
  </div>
  <div class= "resource-card">
  </div>
</div>

