#Employee Portal for admin, lawyers, and support staff.

<div class="mt-5 pb-5 lawyer-background">
  <%= render 'shared/navbar' %>
  <%= render 'shared/header' %>
  <h1> Video Training</h1>
  <%= render 'shared/search' %>
  <div class="training-card">
    <video src="" alt=""></video>
  </div>
  <div class="training-card">
    <video src="" alt="training video"></video>
  </div>
  <div class="training-card">
    <video src="" alt="training video"></video>
  </div>
  <div class="training-card">
    <video src="" alt="training video"></video>
  </div>
  <div class="training-card">
    <video src="" alt="training video"></video>
  </div>
  <div class="training-card">
    <video src="" alt="training video"></video>
  </div>
</div>
