#Employee Portal for lawyers.

<div class="mt-5 pb-5 lawyer-background">
  <%= render 'shared/navbar' %>
  <%= render 'shared/header' %>
  <h1> Who's Who</h1>
  <div class="who-card">
    <h3> Kalia Guheen </h3>
    <p> Firm Administrator</p>
    <h5>Email her when you need help with...</h5>
    <ul>
      <li>VPN</li>
      <li>Email Signature block</li>
      <li>Dropbox issues</li>
      <li>Microsoft issues</li>
      <li>Insurance Updates</li>
    </ul>
    <ul>
      <li>Website update/design (including profile changes)</li>
      <li>Headshots</li>
      <li>Partner manuel updates</li>
      <li>Training documents</li>
      <li></li>
    </ul>
  </div>
  <div class="who-card">
    <h3> Jennifer Crawford</h3>
    <p> Administrative Assistant</p>
    <h5>Email her when you need help with...</h5>
    <ul>
      <li>RingCentral</li>
      <li>Onboarding</li>
      <li>Business Cards</li>
      <li>Letterheads</li>
      <li>Virtual Office Support</li>
    </ul>
    <ul>
      <li>Signing up for subsriptions (Lexis, Markify, ElderCounsel, Lawline, Casetext)</li>
      <li></li>
    </ul>
  </div>
  <div class="who-card">
    <h3> Laurel Sceviour </h3>
    <p> Marketing Director</p>
    <h5>Email her when you need help with...</h5>
    <ul>
      <li>Researching/writing blog posts</li>
      <li>Editing blog posts</li>
      <li>writing/editing bios</li>
      <li>Awards Submittal</li>
      <li></li>
    </ul>
    <ul>
      <li>Martindale Hubbell profile updates</li>
      <li>Preparing bios/marketing verbiage for conforences</li>
      <li>Small business features</li>
      <li>Client testimonials</li>
      <li>Any verbiage requests</li>
    </ul>
  </div>
  <div class="who-card">
    <h3> Rachael Savoy</h3>
    <p> Website Specialist</p>
    <h5>Email her when you need help with...</h5>
    <ul>
      <li>MyPLG.net</li>
    </ul>
  </div>
  <div class="who-card">
    <h3> Lauren Lee </h3>
    <p> Director of Accounting</p>
    <h5>Email her when you need help with...</h5>
    <ul>
      <li>Invoice Issues</li>
      <li>Partner draw</li>
      <li>Expenses</li>
      <li>Health care plan</li>
      <li>taxes</li>
    </ul>
    <ul>
      <li>USPTO payment</li>
      <li>Payment Plans (for clients)</li>
    </ul>
  </div>
  <div class="who-card">
    <h3> Kristyna Cruz </h3>
    <p> Director of Social Media</p>
    <h5>Email her when you need help with...</h5>
    <ul>
      <li>Social media posting</li>
      <li>Social media strategy</li>
      <li>Social media classes</li>
      <li>Incorporating podcasts into social media content</li>
    </ul>
    <ul>
      <li>Managing social media tech issues</li>
      <li>Boosting posts to target demographics</li>
      <li>Analytics for marketing campaigns </li>
      <li>Incorporating podcasts into social media content</li>
    </ul>
  </div>
</div>

