.onboard-card {
  background-color: #E3E5E8;
  width: 1169px;
  height: auto;
  border-radius: 5px;
  border-style: none;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #013878
  font-family: lato;
  line-height: 43px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
