#Onboarding#show
# Find me in app/views/onboarding/show.html.erb

# This page is what the employees see when the first log into onboarding.


<%= render 'shared/navbar_onboard' %>
<%= render 'shared/header' %>

<div class="card-container onboarding">
  <div class="onboarding-card">
    <h1 class="card-title"> Welcome, <%= current_user %> </h1>
    <h3 class="card-text"> We are excited for you to join our team.
      Please complete the onboarding process. Let us know if you have any questions. </h3>
  </div>
  <div class="to-do-card">
    <h1 class="card-title"> To do:</h1>
    <ol>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>
  <div class="process-card">
    <h5> You have completed <%= progress.onboarding %> of the onboarding process.</h5>
  </div>
  <div class="mission-card">
    <h1>Our Mission</h1>
    <p>Our mission is to provide our clients with the highest quality legal
    services at a reasonable rate. We do this by removing all the barriers,
    bureaucracy and bloated overhead costs associated with traditional law firms,
    and instead focus on unleashing the energy and individual genius of the best
    legal minds in the industry. </p>
  </div>
  <div class="vision-card">
    <h1>Our Vision</h1>
    <p>As I set out to build a new cloud-based law firm, I conducted extensive
    research, but also drew heavily on my experiences working at a large successful
    cloud-based law firm, my time in solo and small firm practice and my time in the
    Navy. One thing that I was not inhibited by was the associated prejudices. I was
    focusing on providing service to a different client group and could therefore focus
    on building the best platform to service those clients, instead of the trappings of the
    traditional "law firm centric" model. </p>
  </div>
  <div class="about-card">
    <h1>About us:</h1>
    <p> Parlatore Law Group was founded on the principle of eliminating all the
    unnecessary overhead expenses associated with traditional law firms while
    providing the highest quality legal services. One of the largest financial
    burdens that traditional law firms carry is the rent and maintenance of large, opulent offices.
    However, intelligent and innovative cuse of cloud-based technology makes the need for large
    physical offices obsolete.</p>
  </div>
</div>
