#Onboarding#show
# Find me in app/views/onboarding/show.html.erb

# This page is what the employees see when the first log into onboarding.


<%= render 'shared/navbar_onboard' %>
<%= render 'shared/header' %>

<div class="card-container onboarding">
  <div class="onboarding-card">
    <h1 class="card-title"> Welcome, <%= current_user %> </h1>
    <h3 class="card-text"> We are excited for you to join our team.
      Please complete the onboarding process. Let us know if you have any questions. </h3>
  </div>
  <div class="to-do-card">
    <h1 class="card-title"> To do:</h1>
    <ol>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>
  <div class="process-card">
    <h5> You have completed <%= progress.onboarding %> of the onboarding process.</h5>
  </div>
</div>
