#Onboarding#show
# Find me in app/views/onboarding/show.html.erb

# This page is what the employees see when the first log into onboarding.


<%= render 'shared/navbar_onboard' %>
<%= render 'shared/header' %>

<div class="card-container">
  <div class="card-body">
    <div class="card-title">
    </div>
  </div>
</div>
