// Place all the styles related to the Chatroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chatroom {
  background-image: linear-gradient( to top, rgba(210, 171, 103, 0) @89.58%), url('https://unsplash.com/photos/FJVPH7x4ySs');
  background-size: cover;
  width: 100%;
}

.scroll-touch {
  overflow: auto;
  height: 200px;
  background-color: #C4c4c4;
  opacity: 50%;
  border-radius: 5px;
  border-style: solid;
  border-color: #111;
  border-width: 3px;
  font-size: 24px;
}

.messages-show {
  margin: auto;
  width: 100%;

  h1{
    color: #111;
  }
}


.messages-dropdown {
  padding: 0;
  width: 100%;
}

.messages-dropdown-menu {
  padding: 0;
  border-radius: 8px;
  width: 100%;
}

.message-container {
  line-height: 1;
}
