# List#index
# Find me in app/views/list/index.html.erb
# Each support staff to do list

<div class="card-container">
  <div class= "list-card">
    <img src="http://api.linkedin.com/v1/people/jennifer-crawford-aa8117140/picture-url" alt="support staff">
    <button class="list-card-btn">view</button>
    <button class="list-card-btn">add</button>
  </div>
  <div class= "list-card">
    <img src="http://api.linkedin.com/v1/people/lauren-lee-57021b7a/picture-url" alt="support staff">
    <button class="list-card-btn">view</button>
    <button class="list-card-btn">add</button>
  </div>
  <div class= "list-card">
    <img src="http://api.linkedin.com/v1/people/kaliaguheen/picture-url" alt="support staff">
    <button class="list-card-btn">view</button>
    <button class="list-card-btn">add</button>
  </div>
  <div class= "list-card">
    <img src="http://api.linkedin.com/v1/people/laurel-sceviour-7812a21b/picture-url" alt="support staff">
    <button class="list-card-btn">view</button>
    <button class="list-card-btn">add</button>
  </div>
  <div class= "list-card">
    <img src="http://api.linkedin.com/v1/people/savoyrachael/picture-url" alt="support staff">
    <button class="list-card-btn">view</button>
    <button class="list-card-btn">add</button>
  </div>
  <div class= "list-card">
    <img src="http://api.linkedin.com/v1/people/kristynatorrescruz/picture-url" alt="support staff">
    <button class="list-card-btn">view</button>
    <button class="list-card-btn">add</button>
  </div>
  <div class= "list-card">
    <img src="http://api.linkedin.com/v1/people/{user-id}/picture-url" alt="support staff">
    <button class="list-card-btn">view</button>
    <button class="list-card-btn">add</button>
  </div>
  <div class= "list-card">
    <img src="http://api.linkedin.com/v1/people/{user-id}/picture-url" alt="support staff">
    <button class="list-card-btn">view</button>
    <button class="list-card-btn">add</button>
  </div>
</div>
