# Profile#index
# Find me in app/views/profile/index.html.erb

<div class="card-container">
  <div class="profile-card">
    <tbody>
      <% @profiles.each do |profile| %>
        <tr class="recruit-table-content table-danger">
          <%= link_to profile_path(profile.user) do %>
            <td>
              <%= image_tag profile.user.photo, class: 'avatar-small' %>
              <%= profile.user.first_name %> <%= profile.user.last_name %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </div>
</div>






