# Profile#index
# Find me in app/views/profile/index.html.erb

<div class="card-container">
  <div class="profile-card">
    <img src="" alt="">
    <h4> <%= profile.first_name %> <%= profile.last_name %> </h4>
  </div>
</div>
